# Visual Studio
.vs
ARM
Debug
Breakout.sln
Breakout/ARM
Breakout/Breakout.vcxproj
Breakout/Breakout.vcxproj.filters
Breakout/Breakout.vcxproj.user

# Build
Breakout/build

# Binaries
*.3dsx
*.cia
*.elf
*.smdh
*.cxi
/Breakout/Debug
